<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
             <p-toast></p-toast> 
             
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <div class="card flex gap-3">
                <input type="text" pInputText placeholder="Buscar por nombre" [(ngModel)]="search" (ngModelChange)="applyFilters()"/>
              
                <p-dropdown [options]="statuses" [(ngModel)]="active" showClear="true" (onChange)="applyFilters()" placeholder="Estado"></p-dropdown>
              
                <input type="number" pInputText placeholder="Stock mínimo" [(ngModel)]="minStock" (ngModelChange)="applyFilters()"/>
            </div>


            <p-table
            [value]="products"
            [paginator]="true"
            [rows]="5"
            [lazy]="true"
            (onLazyLoad)="getAllProducts($event)"
            [totalRecords]="totalRecords"
            [tableStyle]="{ 'min-width': '50rem' }"
            >
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:14%">Code</th>
                    <th style="width:20%">Name</th>
                    <th style="width:16%">Price</th>
                    <th style="width:16%">Stock</th>
                    <th style="width:20%">Status</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{ product.productId }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.stock }}</td>
                    <td>{{ product.active }}</td>
                    <td>
                        <div class="flex">
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>

        </p-table>
            
        </div>
       
        <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">Name</label>
                    <input type="text" pInputText id="name" [(ngModel)]="product.name" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.name}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.name">Name is required.</small>
                </div>

                <div class="field">
                    <label for="status">Product Active</label>
                    <p-dropdown [(ngModel)]="product.active" inputId="active" optionValue="value" [options]="statuses" placeholder="Select">
                        <ng-template pTemplate="selectedItem">
                            <span *ngIf="product && product.active !== undefined" [class]="'product-badge status-' + product.active.toString().toLowerCase()">{{product.active}}</span>
                        </ng-template>
                        <ng-template let-option pTemplate="item">
                            <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                        </ng-template>
                    </p-dropdown>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="price">Price</label>
                        <p-inputNumber id="price" [(ngModel)]="product.price" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
                    </div>
                    <div class="field col">
                        <label for="quantity">Stock</label>
                        <p-inputNumber id="stock" [(ngModel)]="product.stock"></p-inputNumber>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
            </ng-template>
        </p-dialog>
    

        <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="product">Está seguro que desea eliminar <b>{{product.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>

